.header-categories{
    margin: 0.7em 0 1em 0;
    font-family: sans-serif;
    color: gray;
    text-align: center;
}
.categories{
    width: 85%;
    text-align: center;
    margin:auto auto 2em auto;
}
.category{
    display: inline-flex;
    margin:0.5em;
    outline: 0.125em solid #ffffff;
    box-shadow: #000000 0 0 0.163em;
    width:18.75em;
    height:12.5em;
    background-size:100% 100%;
    vertical-align:top;
    align-items:center;
    justify-content: center;
    overflow: hidden;
    position: relative;

}
.title{
    overflow: hidden;
    background-size:100% 100%;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color:white;
    text-shadow: #000000 0 0 0.163em;
    font-size: 1.2em;
    font-weight:bold;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.all{
    background-color: rgb(245,245,245);
}
.title a:hover{
    transition: 1s;
    transform: scale(1.25);
}
.background:hover{
    transition: 1s;
    transform: scale(1.25);

}

.background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.8;
    background-size:100% 100%;
}
#category-sport{
    background-image: url("../img-categories/category-sport.jpg");
}
#category-home{
    background-image: url("../img-categories/category-home.jpg");
}
#category-vr{
    background-image: url("../img-categories/category-vr.jpg");
}
#category-car{
    background-image: url("../img-categories/category-car.jpg");
}
#category-travel{
    background-image: url("../img-categories/category-travel.jpg");
}
#category-bicycle{
    background-image: url("../img-categories/category-bicycle.jpg");
}
#category-pc{
    background-image: url("../img-categories/category-pc.jpeg");
}
#category-chill{
    background-image: url("../img-categories/category-chill.jpg");
}
#category-kitchen{
    background-image: url("../img-categories/category-kitchen.jpg");
}
#category-media{
    background-image: url("../img-categories/category-media.jpg");
}
#category-game{
    background-image: url("../img-categories/category-game.jpg");
}
#category-kids{
    background-image: url("../img-categories/category-kids.jpg");
}
a{
    text-decoration: none;
}
