nav {
    height: fit-content;
    width: 100%;
    font-family: sans-serif;
    font-size: 0.92em;
    position: relative;
    background: #00677e;
}
nav ul {
    padding: 0;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
}
nav li {
    display: inline;
    float: left;
}
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
 }
.clearfix:after {
    clear: both;
 }
.clearfix {
    *zoom: 1;
}
nav a {
    margin:1em;
    padding:0 0.5em 0 0.5em;
    color: #fff;
    display: inline-block;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    line-height: 2.5em;
    text-shadow: 0.063em 0.063em 0 #283744;
}
nav li a {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
nav li:last-child a {
    border-right: 0;
}
nav li a:hover {
    background-color: #0082a0;
    border-radius:0.625em;
    -moz-border-radius:0.625em;
    -webkit-border-radius:0.625em;
}
nav a#pull {
    display: none;
}
@media screen and (max-width: 600px) {
    nav {
        height: auto;
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    nav li {
        width: 100%;
        position: relative;
    }
    nav li a {
        border-bottom: 0.063em solid #004e60;
        border-right: 0.063em solid #004e60;
    }
    nav a {
        width: 100%;
        text-indent: 1.563em;
        margin:0;
        padding:0;
    }
}
@media only screen and (max-width : 600px) {
    nav {
        border-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav a#pull {
        display: block;
        background:#00677e;
        position: relative;
        background: url('../icons/menu.svg') no-repeat center center;
        background-size: 1.875em 1.875em;
        width: 1.875em;
        height: 1.875em;
        margin-top: 2vw;
        margin-left: 2vw;
    }
}
@media only screen and (max-width : 320px) {
    nav li {
        display: block;
        float: none;
        width: 100%;
    }
    nav li a {
        border-bottom: 0.063em solid #004e60;
    }
}


