body{
    font-size: 100%;
    background-color: rgb(245,245,245);
    text-align: center;
    background-repeat: repeat;
}
img {
    overflow:hidden;
}
h1{
    margin: 0;
    padding:0;
}
.background-header h1{
    overflow: auto;
    color: white;
    text-shadow: #000000 0 0 0.163em;
    text-align: center;
    font-size: 3em;
}
.background-header p{
    color: white;
    overflow: auto;
    text-shadow: #000000 0 0 0.163em;
    font-size: 1.8em;
}
.background-header{
    font-family: sans-serif;
    text-align: center;
}
.background-hello{
    background-image:url("../background/background-reviews.png");

    /* Фоновое изображение всегда отцентрировано по вертикали и горизонтали */
    background-position: center center;

    /* Фоновое изображение не повторяется */
    background-repeat: no-repeat;

    /* Вот что позволяет фоновому изображению подстраиваться под размер контейнера */
    background-size: cover;

    /* Устанавливает фоновый цвет, который будет отображаться, пока загружается фоновое изображение */
    background-color: rgb(227, 227, 227);
    height: 60vh;
    display: flex;
    align-items:center;
    justify-content: center;
    border-top: 0.13em solid #283744;

}
.button-join {
    cursor: pointer;
    font-size:1em;
    text-decoration:none;
    padding:0.9em 2.5em;
    color:#ffffff;
    background: #00b7b7;
    border-radius:0.29em;
    text-shadow: #000000 0 0 0.163em;
    display: inline-block;
    text-align: center;
    font-weight:bold;
    letter-spacing:0.1em;
}
.button-join:hover{
    color:#ffffff;
    text-shadow: #000000 0 0 0.163em;
    background: #1c7e80;
    transition: all 0.3s ease;
}
.elem{
    display: block;
    text-align: center;
}
video{
    box-shadow: 0 0 1em rgba(0,0,0,0.5);
    height: auto;
    margin: 0 auto; // выравнивает по центру по вертикали
    display: block;
    max-width: 90%;
    object-fit: cover;
    overflow: hidden;
}
.gradup{
    height: 10vh;
    background: linear-gradient(to top, rgba(245,245,245,1),rgba(56,56,56,0.5));
}
.graddown{
    height: 5vh;
    background: linear-gradient(to bottom, rgb(245,245,245), rgb(0,103,126));
}
.elem p{
    font-family:comic sans ms,sans-serif;
    font-size: 1.2em;
    color: #000000;
    font-weight:bold;

}
@media screen and (max-width: 600px) {
    .background-header, .elem p {
        font-size:70%;
    }
}

@media screen and (max-width: 300px) {
    .background-header, .elem p {
        font-size:60%;
    }
}
